<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>santa_fate_red_hand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{89,101}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{89,101}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_fate_red_hand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,0},{89,89}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{89,89}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_fate_red_shoulder1.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,0},{93,105}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{93,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_fate_red_shoulder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,0},{89,95}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,0},{81,105}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{81,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,0},{81,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{81,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,0},{81,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{81,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front4.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,0},{83,103}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{83,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front5.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,0},{83,105}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{83,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front6.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,0},{83,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{83,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front7.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,0},{81,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{81,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_front8.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,0},{81,103}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{81,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{69,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{69,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,107},{65,107}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,107},{65,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,107},{65,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,107},{65,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{65,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,107},{65,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,107},{65,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,107},{65,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{65,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,107},{69,105}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{69,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,107},{65,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,107},{65,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,107},{65,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,107},{65,103}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{65,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,107},{65,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,107},{65,105}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_half_right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,214},{65,103}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{65,103}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,214},{67,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{67,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,214},{65,105}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,214},{67,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{67,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,214},{67,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,214},{67,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,214},{67,105}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,214},{67,105}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,214},{65,105}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{65,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,214},{67,107}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{67,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,214},{67,107}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{67,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,214},{67,107}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{67,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,214},{67,105}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,214},{67,105}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,214},{67,105}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,321},{67,105}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{67,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_hand_right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,321},{67,107}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{67,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,321},{69,109}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{69,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,321},{71,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{71,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,321},{71,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{71,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front4.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,321},{73,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{73,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front5.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,321},{73,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{73,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front6.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,321},{73,109}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{73,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front7.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,321},{71,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{71,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_front8.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,321},{71,107}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{71,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,321},{71,109}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{71,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,321},{69,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{69,111}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,321},{67,109}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{67,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,321},{65,107}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,432},{63,107}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{63,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,432},{65,107}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,432},{67,109}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{67,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,432},{69,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{69,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,432},{71,109}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{71,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,432},{69,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{69,111}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,432},{67,109}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{67,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,432},{65,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,432},{63,107}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{63,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,432},{65,107}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{65,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,432},{67,109}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{67,109}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_half_right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,432},{69,107}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{69,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,432},{61,107}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,432},{61,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,432},{61,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,543},{61,105}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left5.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,543},{61,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left6.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,543},{61,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left7.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,543},{61,107}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_left8.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,543},{61,107}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,543},{59,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{59,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,543},{61,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,543},{61,105}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,543},{61,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{61,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right5.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,543},{63,105}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{63,105}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right6.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,543},{61,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right7.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,543},{61,107}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>santa_red_shoulder_right8.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,543},{61,107}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{61,107}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>santa_red.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c695c480b3c8d884dc6ea616021be2e8$</string>
            <key>textureFileName</key>
            <string>santa_red.png</string>
        </dict>
    </dict>
</plist>
