<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{8,4}}</string>
                <key>offset</key>
                <string>{-35,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire10.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,0},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,0},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,0},{76,138}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,138}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire13.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire14.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,0},{74,134}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,134}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire15.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire16.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire17.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,138},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire18.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,138},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire19.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,138},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,138},{18,16}}</string>
                <key>offset</key>
                <string>{-32,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire20.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,138},{76,138}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,138}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire21.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,138},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire22.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire23.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,276},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire24.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,276},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire25.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,276},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire26.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,276},{76,136}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire27.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,276},{62,136}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire28.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,276},{62,138}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,138}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire29.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{56,138}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,138}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,414},{24,26}}</string>
                <key>offset</key>
                <string>{-29,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire30.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,414},{50,130}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{50,130}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire31.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,414},{44,108}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{44,108}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire32.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,414},{34,86}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{34,86}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire33.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,414},{26,78}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,57},{26,78}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire34.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,414},{20,40}}</string>
                <key>offset</key>
                <string>{2,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,93},{20,40}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire35.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,414},{16,22}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,104},{16,22}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,414},{44,68}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,68}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,414},{58,104}}</string>
                <key>offset</key>
                <string>{-11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,104}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,414},{62,116}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,116}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,414},{66,128}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,128}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,552},{72,132}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,132}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,552},{74,136}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,136}}</string>
                <key>sourceSize</key>
                <string>{82,140}</string>
            </dict>
            <key>ice1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,552},{89,113}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{89,113}}</string>
                <key>sourceSize</key>
                <string>{97,113}</string>
            </dict>
            <key>ice2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,552},{78,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,94}}</string>
                <key>sourceSize</key>
                <string>{82,96}</string>
            </dict>
            <key>ice3.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,552},{79,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{79,72}}</string>
                <key>sourceSize</key>
                <string>{91,78}</string>
            </dict>
            <key>skillicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,688},{200,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,160}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8f98e7a58b44283f9d0148e7ffd5d2d$</string>
            <key>textureFileName</key>
            <string>skill.png</string>
        </dict>
    </dict>
</plist>
