<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>page01.png</key>
		<dict>
			<key>height</key>
			<integer>500</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>500</integer>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>width</key>
			<integer>400</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>page02.png</key>
		<dict>
			<key>height</key>
			<integer>500</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>500</integer>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>width</key>
			<integer>400</integer>
			<key>x</key>
			<integer>402</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>page03.png</key>
		<dict>
			<key>height</key>
			<integer>500</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>500</integer>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>width</key>
			<integer>400</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>502</integer>
		</dict>
		<key>page04.png</key>
		<dict>
			<key>height</key>
			<integer>500</integer>
			<key>offsetX</key>
			<real>0.0</real>
			<key>offsetY</key>
			<real>0.0</real>
			<key>originalHeight</key>
			<integer>500</integer>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>width</key>
			<integer>400</integer>
			<key>x</key>
			<integer>402</integer>
			<key>y</key>
			<integer>502</integer>
		</dict>
	</dict>
	<key>texture</key>
	<dict>
		<key>height</key>
		<integer>1024</integer>
		<key>width</key>
		<integer>1024</integer>
	</dict>
</dict>
</plist>
